/* 
    Document   : mystyle
    Created on : Mar 24, 2014, 6:01:28 PM
    Author     : desktop
    Description:
        Purpose of the stylesheet follows.
*/

.institute-list
{
    padding: 6px 30px;
}
